<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <style id="css">
      body {
        font: 400 14px 'Helvetica Neue', Helvetica;
      }
      label {
        display: block;
        width: 150px;
      }
    </style>
</head>
<body>
    <div id="navigation"></div>

    <div>
        <h2 align="left" id="tx_header">Transaction</h2>
        This transaction is between the following two parties:<br>
        <p><table>
            <colgroup>
               <col span="1" style="width: 120px;">
               <col span="1" style="width: 800px;">
            </colgroup>
            <tbody>
                <tr><td>Data Provider:</td><td><b id="provider_info"></b><br><div id="provider_id"></div></td></tr>
                <tr><td>Data Consumer:</td><td><b id="consumer_info"></b><br><div id="consumer_id"></div></td></tr>
            </tbody>
        </table></p>
        The transaction has the following information:<br>
        <p><table>
            <colgroup>
               <col span="1" style="width: 120px;">
               <col span="1" style="width: 800px;">
            </colgroup>
            <tbody>
            <tr><td>Name:</td><td id="tx_name"></td></tr>
            <tr><td>Description:</td><td id="tx_description"></td></tr>
            </tbody>
        </table></p>
    </div>

    <div>
        <h2 align="left">Identity and Tasks</h2>
        <div id="id_info"></div>
        <div id="tasks"></div>
    </div>

    <div>
        <h2 align="left">Details</h2>
        <div id="tx_summary_data_objects"></div>
        <div id="tx_summary_processor"></div>
    </div>
</body>
<script>
me_iid = ""
tx_id = {{ tx_id }}
agent_address = "{{ agent_address }}"

const dp_color = "#4DAA59"
const ap_color = "#2E6CB5"

function update_identity() {
    const url="http://{{ app_address }}/api/v1/user/identity"
    fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            me_iid = data.id
            me_name = data.name
            me_email = data.email
            update_transaction()
        })
        .catch(function(error) {
            console.log(error)
        });
}

function update_tasks(data) {
    html = ""

    if (me_iid == data.provider.id) {
        if (data.transaction.proc_id != null) {
            input_interface = data.transaction.proc_descriptor.input
            for (idx in input_interface) {
                item = input_interface[idx]

                if(!(item.name in data.transaction.in_obj_ids)) {
                    html +=
                        "<p><table style=\"border:2px solid black; border-color:"+color+"; width:500px\">" +
                        "    <tr><td><b style=\"color:"+color+";\">Upload Input Data Object '"+item.name+"'</b></td></tr>" +
                        "    <tr></tr>" +
                        "    <tr><td><form enctype=\"multipart/form-data\" action=\"http://{{ app_address }}/api/v1/user/upload_input\" method=\"POST\">" +
                        "        <input type=\"HIDDEN\" name=\"tx_id\" value=\""+tx_id+"\"/>" +
                        "        <input type=\"HIDDEN\" name=\"agent_address\" value=\""+agent_address+"\"/>" +
                        "        <input type=\"HIDDEN\" name=\"obj_name\" value=\""+item.name+"\"/>" +
                        "        <label for=\"data_type\">Data Type: </label><input type=\"TEXT\" name=\"data_type\" value=\""+item.data_type+"\"/>" +
                        "        <label for=\"data_format\">Data Format: </label><input type=\"TEXT\" name=\"data_format\" value=\""+item.data_format+"\"/>" +
                        "        <label for=\"file\">File: </label><input type=\"FILE\" name=\"file\"/>" +
                        "        <br><input type=\"submit\" name=\"Upload\" value=\"Upload\"/>" +
                        "    </form><td></tr>" +
                        "</table></p>"
                }
            }
        }

        if (data.transaction.status == 'ready') {
            html +=
                "<p><table style=\"border:2px solid black; border-color:"+color+"; width:500px\">" +
                "    <tr><td><b style=\"color:"+color+";\">Run the Processor</b></td></tr>" +
                "    <tr></tr>" +
                "    <tr><td>Click the 'Start' button in order to begin with the data processing by running the processor.</td></tr>" +
                "    <tr><td>" +
                "    <form enctype=\"multipart/form-data\" action=\"http://{{ app_address }}/api/v1/user/run_processor\" method=\"POST\">" +
                "        <input type=\"HIDDEN\" name=\"tx_id\" value=\""+tx_id+"\"/>" +
                "        <input type=\"HIDDEN\" name=\"agent_address\" value=\""+agent_address+"\"/>" +
                "        <input type=\"submit\" name=\"Start\" value=\"Start\"/>" +
                "    </form><td></tr>" +
                "    <tr></tr>" +
                "</table></p>"
        }

        // if (data.transaction.review_algorithm && data.transaction.proc_id != null) {
        //     html +=
        //         "<p><table style=\"border:2px solid black; width:500px\">" +
        //         "    <tr><td colspan=\"2\"><b style=\"color:"+color+";\">Review Data Processor</b></td></tr>" +
        //         "    <tr></tr>" +
        //         "    <tr><td>Processor:</td><td><a href>Download</a></td></tr>" +
        //         "    <tr><td>Comments:</td><td></td></tr>" +
        //         "    <tr><td colspan=\"2\"><textarea cols=\"70\" rows=\"5\">Please enter your comments here.</textarea></td></tr>" +
        //         "    <tr><td><button>Accept</button></td><td><button>Reject</button></td></tr>" +
        //         "    <tr></tr>" +
        //         "</table></p>"
        // }

        if (data.transaction.status == 'done') {
            for (obj_name in data.transaction.out_obj_ids) {
                if (obj_name in data.transaction.review) continue;

                html +=
                    "<p><table style=\"border:2px solid black; border-color:"+color+"; width:500px\">" +
                    "    <tr><td colspan=\"2\"><b style=\"color:"+color+";\">Review Output Data Object '"+obj_name+"'</b></td></tr>" +
                    "    <tr></tr>" +
                    "    <tr><td colspan=\"2\">Output Data Object: <a href=\"http://"+agent_address+"/api/v1/agent/download/"+tx_id+"/out/"+obj_name+"\">Download</a></td></tr>" +
                    "    <tr><td colspan=\"2\"><form enctype=\"multipart/form-data\" action=\"http://{{ app_address }}/api/v1/user/review\" method=\"POST\">" +
                    "        <input type=\"HIDDEN\" name=\"tx_id\" value=\""+tx_id+"\"/>" +
                    "        <input type=\"HIDDEN\" name=\"agent_address\" value=\""+agent_address+"\"/>" +
                    "        <input type=\"HIDDEN\" name=\"obj_name\" value=\""+obj_name+"\"/>" +
                    "        <label for=\"comment\">Comment: </label><input type=\"TEXT\" name=\"comment\" size=\"70\" value=\"(no comment)\"/>" +
                    "        <input type=\"submit\" name=\"decision\" value=\"Release\"/>" +
                    "        <input type=\"submit\" name=\"decision\" value=\"Hold\"/>" +
                    "    </form><td></tr>" +
                    "    <tr></tr>" +
                    "</table></p>"
            }
        }
    }

    if (me_iid == data.consumer.id) {
        if (data.transaction.proc_id == null) {
            html +=
                "<p><table style=\"border:2px solid black; border-color:"+color+"; width:500px\">" +
                "    <tr><td><b style=\"color:"+color+";\">Deploy Data Processor</b></td></tr>" +
                "    <tr></tr>" +
                "    <tr><td><form enctype=\"multipart/form-data\" action=\"http://{{ app_address }}/api/v1/user/deploy_processor\" method=\"POST\">" +
                "        <input type=\"HIDDEN\" name=\"tx_id\" value=\""+tx_id+"\"/>" +
                "        <input type=\"HIDDEN\" name=\"agent_address\" value=\""+agent_address+"\"/>" +
                "        <label for=\"source\">Repository: </label><input type=\"TEXT\" name=\"source\" size=\"70\" value=\"https://github.com/cooling-singapore/saas-processor-template\"/>" +
                "        <label for=\"commit_id\">Commit Id: </label><input type=\"TEXT\" name=\"commit_id\" size=\"16\" value=\"0d40f2b\"/>" +
                "        <label for=\"path\">Path: </label><input type=\"TEXT\" name=\"path\" size=\"70\" value=\"processor_20210602-demo\"/>" +
                "        <input type=\"submit\" name=\"Deploy\" value=\"Deploy\"/>" +
                "    </form><td></tr>" +
                "</table></p>"
        }
    }

    if (html.length > 0) {
        document.getElementById('tasks').innerHTML = "<p>You have the following pending tasks:</p>"+html
    }
    else {
        document.getElementById('tasks').innerHTML = "<p>You have no pending tasks at the moment.</p>"
    }
}

function update_transaction() {
    const url="http://"+agent_address+"/api/v1/agent/transaction/"+tx_id
    fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            color = "#000000"
            if (me_iid == data.provider.id) {
                color = dp_color
            }
            else if(me_iid == data.consumer.id) {
                color = ap_color
            }

            document.getElementById('id_info').innerHTML =
                "You are logged in as " +
                "<b style=\"color:"+color+";\" id=\"id_name\">"+me_name+"</b> " +
                "(<b style=\"color:"+color+";\" id=\"id_email\">"+me_email+"</b>)."

            html =
                "<table>" +
                "    <colgroup>" +
                "       <col span=\"1\" style=\"width: 120px;\">" +
                "       <col span=\"1\" style=\"width: 800px;\">" +
                "   </colgroup>" +
                "   <tbody>" +
                "       <tr><td colspan=\"2\"><b>Input Data Object(s)</b></td></tr>"

            if (Object.keys(data.transaction.in_obj_ids).length == 0) {
                html += "<tr><td colspan=\"2\">(none)</td></tr>"
            }
            else {
                for (obj_name in data.transaction.in_obj_ids) {
                    if (me_iid == data.provider.id) {
                        obj_id = data.transaction.in_obj_ids[obj_name]
                        html += "<tr><td>"+obj_name+":</td><td><a href=\"http://"+agent_address+"/api/v1/agent/download/"+tx_id+"/in/"+obj_name+"\">"+obj_id+"</a></td></tr>"
                    }
                    else {
                        obj_id = data.transaction.in_obj_ids[obj_name]
                        html += "<tr><td>"+obj_name+":</td><td>"+obj_id+"</td></tr>"
                    }
                }
            }

            html +=
                "   </tbody>" +
                "   <tr></tr>" +
                "</table>"


            document.getElementById('tx_summary_data_objects').innerHTML += html


            if(data.transaction.proc_id != null) {
                document.getElementById('tx_summary_processor').innerHTML +=
                    "<table>" +
                    "    <colgroup>" +
                    "       <col span=\"1\" style=\"width: 120px;\">" +
                    "       <col span=\"1\" style=\"width: 800px;\">" +
                    "   </colgroup>" +
                    "   <tbody>" +
                    "       <tr><td colspan=\"2\"><b>Data Processor</b></td></tr>" +
                    "       <tr><td>"+data.transaction.proc_descriptor.name+":</td><td><a href=\"http://"+agent_address+"/api/v1/agent/download/"+tx_id+"/proc\">"+data.transaction.proc_id+"</a></td></tr>" +
                    "   </tbody>" +
                    "   <tr></tr>" +
                    "</table>"
            }
            else {
                document.getElementById('tx_summary_processor').innerHTML +=
                    "<table>" +
                    "    <colgroup>" +
                    "       <col span=\"1\" style=\"width: 120px;\">" +
                    "       <col span=\"1\" style=\"width: 800px;\">" +
                    "   </colgroup>" +
                    "   <tbody>" +
                    "       <tr><td colspan=\"2\"><b>Data Processor</b></td></tr>" +
                    "       <tr><td>(none)</td></tr>" +
                    "   </tbody>" +
                    "   <tr></tr>" +
                    "</table>"
            }

            if(data.transaction.job_info != null) {
                html =
                    "<table>" +
                    "    <colgroup>" +
                    "       <col span=\"1\" style=\"width: 120px;\">" +
                    "       <col span=\"1\" style=\"width: 800px;\">" +
                    "   </colgroup>" +
                    "   <tbody>" +
                    "       <tr><td colspan=\"2\"><b>Output Data Object(s)</b></td></tr>"

                for (obj_name in data.transaction.out_obj_ids) {
                    obj_id = data.transaction.out_obj_ids[obj_name]
                    if (obj_id == null) {
                        html += "<tr><td>"+obj_name+":</td><td>unavailable</td></tr>"
                    }
                    else if (me_iid == data.provider.id) {
                        html += "<tr><td>"+obj_name+":</td><td><a href=\"http://"+agent_address+"/api/v1/agent/download/"+tx_id+"/out/"+obj_name+"\">"+obj_id+"</a></td></tr>"
                    }
                    else {
                        review = data.transaction.review[obj_name]
                        if (review == null) {
                            html += "<tr><td>"+obj_name+":</td><td>"+obj_id+" (pending review)</td></tr>"
                        }
                        else if (review.released) {
                            html += "<tr><td>"+obj_name+":</td><td><a href=\"http://"+agent_address+"/api/v1/agent/download/"+tx_id+"/out/"+obj_name+"\">"+obj_id+"</a> (released: "+review.comment+")</td</tr>"
                        }
                        else {
                            html += "<tr><td>"+obj_name+":</td><td>"+obj_id+" (held: "+review.comment+")</td</tr>"
                        }
                    }
                }

                html +=
                    "   </tbody>" +
                    "   <tr></tr>" +
                    "</table>"


                state = data.transaction.job_info.status.state
                html +=
                    "<table style=\"width:300px\">" +
                    "    <tr><td colspan=\"2\"><b>Job Info</b></td></tr>" +
                    "    <tr><td>State:</td><td>"+state+"</td></tr>" +
                    "</table>"

                document.getElementById('tx_summary_processor').innerHTML += html
            }

            document.getElementById('tx_name').innerHTML = data.transaction.name
            document.getElementById('tx_description').innerHTML = data.transaction.description

            document.getElementById('provider_id').innerHTML = data.provider.id
            document.getElementById('provider_info').innerHTML = data.provider.name+" ("+data.provider.email+")"
            document.getElementById('consumer_id').innerHTML = data.consumer.id
            document.getElementById('consumer_info').innerHTML = data.consumer.name+" ("+data.consumer.email+")"


            update_tasks(data)
        })
        .catch(function(error) {
            console.log(error)
        });
}

function update_navigation() {
    home_url = "http://{{ app_address }}/api/v1/user/view_home"

    tx_url="http://{{ app_address }}/api/v1/user/view_transaction/"+tx_id+"?"+new URLSearchParams({
        agent_address: agent_address
    })

    document.getElementById('navigation').innerHTML =
        "<table>" +
        "    <tr>" +
        "       <td>Navigate: </td>" +
        "       <td><input type=button onClick=\"location.reload();location.href='"+tx_url+"'\" value='Refresh'><td>" +
        "       <td><input type=button onClick=\"location.reload();location.href='"+home_url+"'\" value='Go Back'><td>" +
        // "       <td><input type=button onClick=\"parent.open(home_url)\" value='Go Back'><td>" +
        "    </tr>" +
        "</table>"
}

document.getElementById('tx_header').innerHTML = "Transaction #"+tx_id

update_navigation()
update_identity()

</script>
</html>