boto3
botocore
canonicaljson
cryptography
fastapi
GitPython
InquirerPy
jsonschema
netifaces
paramiko
pydantic
pytest
Requests
setuptools
SQLAlchemy
sqlalchemy_json
starlette
tabulate
uvicorn
watchtower
docker
