jsonschema~=4.16.0
requests~=2.28.1
pydantic~=1.10.2
fastapi~=0.85.0
SQLAlchemy~=1.4.41
cryptography~=38.0.1
starlette~=0.20.4
canonicaljson~=1.6.3
setuptools~=65.4.0
sqlalchemy-json~=0.5.0
python-snappy~=0.6.1
uvicorn~=0.18.3
python-multipart~=0.0.5