<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <style id="css">
      body {
        font: 400 14px 'Helvetica Neue', Helvetica;
      }
      label {
        display: block;
        width: 150px;
      }
    </style>
</head>
<body>
    <div>
        <h2 align=\"left\">Identity</h2>
        <table style="width:300px">
            <tr><td colspan="2"><b>Details</b></td></tr>
            <tr><td>Id:</td><td id="id_id"></td></tr>
            <tr><td>Name:</td><td id="id_name"></td></tr>
            <tr><td>Email:</td><td id="id_email"></td></tr>
            <tr></tr>
        </table>
        <div id="tasks"></div>
    </div>

    <div>
        <h2 align=\"left\">Parties</h2>
        <table style="width:300px">
            <tr><td colspan="2"><b>Data Provider</b></td></tr>
            <tr><td>Id:</td><td id="provider_id"></td></tr>
            <tr><td>Info:</td><td id="provider_info"></td></tr>
            <tr></tr>
            <tr><td colspan="2"><b>Data Consumer</b></td></tr>
            <tr><td>Id:</td><td id="consumer_id"></td></tr>
            <tr><td>Info:</td><td id="consumer_info"></td></tr>
            <tr></tr>
            <tr><td colspan="2"><b>Agent</b></td></tr>
            <tr><td>Id:</td><td id="agent_id"></td></tr>
            <tr><td>Info:</td><td id="agent_info"></td></tr>
            <tr></tr>
        </table>
    </div>

    <div>
        <h2 align=\"left\">Transaction</h2>
        <table style="width:300px">
            <tr><td colspan="2"><b>Details</b></td></tr>
            <tr><td>Name:</td><td id="tx_name"></td></tr>
            <tr><td>Description:</td><td id="tx_description"></td></tr>
            <tr></tr>
        </table>
        <div id="tx_summary_data_objects"></div>
        <div id="tx_summary_processor"></div>
    </div>
</body>
<script>
me_iid = ""
tx_id = {{ tx_id }}
agent_address = "{{ agent_address }}"

function update_identity() {
    const url="http://{{ app_address }}/api/v1/user/identity"
    fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            me_iid = data.id
            document.getElementById('id_id').innerHTML = data.id
            document.getElementById('id_name').innerHTML = data.name
            document.getElementById('id_email').innerHTML = data.email
        })
        .catch(function(error) {
            console.log(error)
        });
}

function upload_input() {
<!--    const host = document.getElementById('agent_host').value-->
<!--    const port = document.getElementById('agent_rest_port').value-->
<!--    const url="http://"+host+":"+port+"/api/v1/agent/transaction"-->

    const path = document.getElementById('data_object_file').files[0]
    console.log(path)

    const parameters = {
        path: path,
        agent_address: "",
        tx_id: ""
    };

    const options = {
        method: 'POST',
        body: JSON.stringify(parameters),
        headers: {
            'Content-Type': 'application/json'
        }
    }

    const url="http://{{ app_address }}/api/v1/user/upload_input"
    fetch(url, options)
        .then((resp) => resp.json())
        .then(function(data) {
            console.log(data)
        })
        .catch(function(error) {
            console.log(error)
        });

}

function update_tasks(data) {
    document.getElementById('tasks').innerHTML = ""

    if (data.transaction.proc_id != null && data.provider.id == me_iid) {
        input_interface = data.transaction.proc_descriptor.input
        for (idx in input_interface) {
            item = input_interface[idx]

            obj_name = item.name
            data_type = item.data_type
            data_format = item.data_format

            if(!(obj_name in data.transaction.in_obj_ids)) {
                document.getElementById('tasks').innerHTML +=
                    "<table style=\"width:300px\">" +
                    "    <tr><td colspan=\"2\"><b>TODO: Upload Input Data Object '"+obj_name+"'</b></td></tr>" +
                    "    <tr><td colspan=\"2\"><form enctype=\"multipart/form-data\" action=\"http://{{ app_address }}/api/v1/user/upload_input\" method=\"POST\">" +
                    "        <input type=\"HIDDEN\" name=\"tx_id\" value=\""+tx_id+"\"/>" +
                    "        <input type=\"HIDDEN\" name=\"agent_address\" value=\""+agent_address+"\"/>" +
                    "        <input type=\"HIDDEN\" name=\"obj_name\" value=\""+obj_name+"\"/>" +
                    "        <input type=\"HIDDEN\" name=\"data_type\" value=\"data_type\"/>" +
                    "        <input type=\"HIDDEN\" name=\"data_format\" value=\"data_format\"/>" +
                    "        <label for=\"file\">File: </label><input type=\"FILE\" name=\"file\"/>" +
                    "        <input type=\"submit\" name=\"Upload\" value=\"Upload\"/>" +
                    "    </form><td></tr>" +
                    "    <tr></tr>" +
                    "</table>"
            }
        }
    }

    if (data.transaction.proc_id == null && data.consumer.id == me_iid) {
        document.getElementById('tasks').innerHTML +=
            "<table style=\"width:300px\">" +
            "    <tr><td colspan=\"2\"><b>TODO: Deploy Data Processor</b></td></tr>" +
            "    <tr><td colspan=\"2\">" +
            "    <form enctype=\"multipart/form-data\" action=\"http://{{ app_address }}/api/v1/user/deploy_processor\" method=\"POST\">" +
            "        <input type=\"HIDDEN\" name=\"tx_id\" value=\""+tx_id+"\"/>" +
            "        <input type=\"HIDDEN\" name=\"agent_address\" value=\""+agent_address+"\"/>" +
            "        <label for=\"source\">Repository: </label><input type=\"TEXT\" name=\"source\" size=\"70\" value=\"https://github.com/cooling-singapore/saas-processor-template\"/>" +
            "        <label for=\"commit_id\">Commit Id: </label><input type=\"TEXT\" name=\"commit_id\" size=\"16\" value=\"09d00d6\"/>" +
            "        <label for=\"path\">Path: </label><input type=\"TEXT\" name=\"path\" size=\"70\" value=\"processor_dummy\"/>" +
            "        <input type=\"submit\" name=\"Deploy\" value=\"Deploy\"/>" +
            "    </form><td></tr>" +
            "    <tr></tr>" +
            "</table>"
    }

    if (data.transaction.review_algorithm && data.transaction.proc_id != null && data.provider.id == me_iid) {
        document.getElementById('tasks').innerHTML +=
            "<table style=\"width:300px\">" +
            "    <tr><td colspan=\"2\"><b>TODO: Review Data Processor</b></td></tr>" +
            "    <tr><td>Processor:</td><td><a href>Download</a></td></tr>" +
            "    <tr><td colspan=\"2\">Comments:</td><td></td></tr>" +
            "    <tr><td colspan=\"2\"><textarea cols=\"70\" rows=\"5\">Please enter your comments here.</textarea></td></tr>" +
            "    <tr><td><button>Accept</button></td><td><button>Reject</button></td></tr>" +
            "    <tr></tr>" +
            "</table>"
    }

    if (data.transaction.out_obj_id != null && data.provider.id == me_iid) {
        document.getElementById('tasks').innerHTML +=
            "<table style=\"width:300px\">" +
            "    <tr><td colspan=\"2\"><b>TODO: Review Output Data Object(s)</b></td></tr>" +
            "    <tr><td>Output Data Object:</td><td><a href>Download</a></td></tr>" +
            "    <tr><td colspan=\"2\">Comments:</td><td></td></tr>" +
            "    <tr><td colspan=\"2\"><textarea cols=\"70\" rows=\"5\">Please enter your comments here.</textarea></td></tr>" +
            "    <tr><td><button>Release</button></td></tr>" +
            "    <tr></tr>" +
            "</table>"
    }

    if (data.transaction.status == 'ready' && (data.provider.id == me_iid || data.consumer.id == me_iid)) {
        document.getElementById('tasks').innerHTML +=
            "<table style=\"width:300px\">" +
            "    <tr><td colspan=\"2\"><b>TODO: Deploy Data Processor</b></td></tr>" +
            "    <tr><td colspan=\"2\">" +
            "    <form enctype=\"multipart/form-data\" action=\"http://{{ app_address }}/api/v1/user/run_processor\" method=\"POST\">" +
            "        <input type=\"HIDDEN\" name=\"tx_id\" value=\""+tx_id+"\"/>" +
            "        <input type=\"HIDDEN\" name=\"agent_address\" value=\""+agent_address+"\"/>" +
            "        <input type=\"submit\" name=\"Start\" value=\"Start\"/>" +
            "    </form><td></tr>" +
            "    <tr></tr>" +
            "</table>"
    }
}

function update_transaction() {
    const url="http://"+agent_address+"/api/v1/agent/transaction/"+tx_id
    fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            console.log(data)

            html =
                "<table style=\"width:300px\">" +
                "    <tr><td colspan=\"2\"><b>Uploaded Input Data Object(s)</b></td></tr>"

            if (Object.keys(data.transaction.in_obj_ids).length == 0) {
                html += "    <tr><td colspan=\"2\">(none)</td></tr>"
            }
            else {
                for (obj_name in data.transaction.in_obj_ids) {
                    obj_id = data.transaction.in_obj_ids[obj_name]
                    html += "<tr><td>"+obj_name+":</td><td>"+obj_id+"</td></tr>"
                }
            }

            html +=
                "    <tr></tr>" +
                "</table>"

            document.getElementById('tx_summary_data_objects').innerHTML += html


            if(data.transaction.proc_id != null) {
                document.getElementById('tx_summary_processor').innerHTML +=
                    "<table style=\"width:300px\">" +
                    "    <tr><td colspan=\"2\"><b>Uploaded Data Processor</b></td></tr>" +
                    "    <tr><td>Id:</td><td>"+data.transaction.proc_id+"</td></tr>" +
                    "    <tr><td>Name:</td><td>"+data.transaction.proc_descriptor.name+"</td></tr>" +
                    "    <tr></tr>" +
                    "</table>"
            }
            else {
                document.getElementById('tx_summary_processor').innerHTML +=
                    "<table style=\"width:300px\">" +
                    "    <tr><td><b>Uploaded Data Processor</b></td></tr>" +
                    "    <tr><td>(none)</td></tr>"
                    "    <tr></tr>" +
                    "</table>"
            }

            if(data.transaction.job_info != null) {
                console.log(data.transaction.job_info)

                state = data.transaction.job_info.status.state

                document.getElementById('tx_summary_processor').innerHTML +=
                    "<table style=\"width:300px\">" +
                    "    <tr><td colspan=\"2\"><b>Job Info</b></td></tr>" +
                    "    <tr><td>State:</td><td>"+state+"</td></tr>" +
                    "    <tr></tr>" +
                    "</table>"
            }

            document.getElementById('tx_name').innerHTML = data.transaction.name
            document.getElementById('tx_description').innerHTML = data.transaction.description

            document.getElementById('provider_id').innerHTML = data.provider.id
            document.getElementById('provider_info').innerHTML = data.provider.name+" ("+data.provider.email+")"
            document.getElementById('consumer_id').innerHTML = data.consumer.id
            document.getElementById('consumer_info').innerHTML = data.consumer.name+" ("+data.consumer.email+")"
            document.getElementById('agent_id').innerHTML = data.agent.id
            document.getElementById('agent_info').innerHTML = data.consumer.name+" ("+data.agent.email+")"



            update_tasks(data)
        })
        .catch(function(error) {
            console.log(error)
        });
}

function start_processor() {
    const url="http://"+agent_address+"/api/v1/agent/transaction/"+tx_id
    fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            update_tasks(data)
        })
        .catch(function(error) {
            console.log(error)
        });
}

update_identity()
update_transaction()

</script>
</html>